langchain-core
langchain
python-dotenv
langchain-groq
langgraph
duckduckgo-search
aiohttp
langchain_community
newsdataapi
langchain-openai
langchain-huggingface
langchain_unstructured
sentence-transformers
faiss-cpu
fastapi
uvicorn[standard]
langsmith
python-multipart
pydantic
requests
pypdf
sqlalchemy
pymysql
tavily-python
